.widget {
  padding: 40px;
  margin-bottom: 30px;
  background-color: $smoke-color;
  border-radius: 5px;
}

.widget_title {
  font-size: 20px;  
  line-height: 1em;
  margin-bottom: 20px;
  margin-top: -0.07em;
}

@include lg {
  .sidebar-area.pl-30 {
    padding-left: 0;
  }
  
  .widget {
    padding: 30px;
  }
}

@include xs {
  .widget {
    padding: 30px 20px;
  }
}